:root{
    --dgrey: #000;
    --pinkoid: #fff;
    --lightblueoid: #111;
}


html, body {
    font-family: Helvetica, sans-serif;
    padding: 1em 2em;
    font-size: 18px;
    background: #000;
    background: var(--pinkoid);
    color: var(--dgrey);
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 2em; /* Position the navbar at the top of the page */
    left: 75%;
    right: 5%;
    width: 5%; /* Full width */
    z-index: 1;
    padding: 0.3em 0.5em;
    background: #ffefef;
  }
  
  /* Links inside the navbar */
.navbar a {
    font-weight: 300;
    float: right;
    display: block;
    color: #111;
    text-align: center;
    font-size: 1.9em;
    padding: 9px 16px;
    text-decoration: none;
    transition: 0.3s;
    transition: 0.3s;
    border-radius: .9em;
    margin: 0.1em;

}
  
  /* Change background on mouse-over */
.navbar a:hover {
    background: #fff;
}   

#cv {
    /* font-weight: 500; */
    background: #222;
    color: #eee ;
    opacity: 1;  
    transition: 0.3s;
    border-radius: .9em;
    padding: 7px 14px 9px 14px;

    /* margin: 0em 0.5em; */
}
#cv:hover {
    opacity: 1;
    background: #fff;
    color: #111;
}



h1, h2, h3 {
    font-weight: 200;
    margin: 0.4em 0;
}
  h1 { 
    font-size: 4em;
    font-weight: 550;
}
  h2 {
    font-size: 2.8em;
}
h3 {
    color: #fff;
    font-size: 1.5em;
}

.intro {
    padding-top: 6em;
    margin: auto;
    width: 70%;
    font-size: 1.2em;
}

.intro a{
    color: rgb(0, 2, 116);
    text-decoration: underline;
    font-size: 0.3em;
    padding: 0em 0.7em;
    
}

img.statue {
    position: absolute;
    right: 200px;
    bottom: 6em;
    width: 20%;
    z-index: 0;
  }
  

.randgen {
    width: 50vw;
    margin: auto;
    float: left;
}

.display {
    padding-top: 2em;
    margin: auto;
    width: 80%

}

#handerror {
    padding: 3em;
}

.footer-social-icons {
    display: fixed;
    margin: 16em 0em 0em 4em;
}

@media (max-width: 600px) {

    body {
        padding: 0.5em 1em;
    }

    img.statue {
        position:absolute;
        right: 2em;
        left: 12em;
        top: 18em;
        width: 30%;
        /* padding-bottom: 0%;
        margin-bottom: 0%; */
        z-index: 0;
        display: none;
      }

    .footer-social-icons {
        display: fixed;
        margin: 10em 0em 0em 0em;
        padding-bottom: 0em;
    }

    .intro {
        padding-top: 6em;
        margin: auto;
        width: 50%;
        display: fixed;
        margin-left: 0em;
        /* float:left; */
        font-size: 0.8em;
    }

    .navbar {
        top: 0em; /* Position the navbar at the top of the page */
        left: 0%;
        right: 0%;
        display: center;
        width: 90%; /* Full width */
        padding: 0.5em 0.3em;
        margin: 1em;
    }

    .navbar a {
        float:left;
        font-size: 1.3em;
        width: auto;
        padding: 5px 6px;
        text-decoration: none;
        transition: 0.3s;
        transition: 0.3s;
        border-radius: .9em;
        margin: 0em;
        background: #eee;
    }

    .display {
        margin-left: 0em;
        width: 100%;
        font-size: 0.6em;
        margin-top: 3em;
    }

}